# PayScale Data Analysis - WarmUp

Import pandas and read the csv 'sdata' file

In [11]:
import pandas as pd

df = pd.read_csv('/sdata.csv')

df.head() prints the header 5 rows

In [ ]:
print(df.head())

Lets get the last rows of the data to find if there is any junk data using tail()

In [ ]:
print(df.tail())

Now find the empty values in this data using the df.isna() it will show the true and false for every found and empty value in each cell respectively

In [ ]:
print(df.isna())

Now lets find the empty value as the whole in the dataframe using the df.isna().sum() that will show the comulative sum of the missing cells in each column
 - this should show the 1 for last 5 columns except the first one due to juck data at the last row

In [15]:
print(df.isna().sum())

Undergraduate Major                  0
Starting Median Salary               1
Mid-Career Median Salary             1
Mid-Career 10th Percentile Salary    1
Mid-Career 90th Percentile Salary    1
Group                                1
dtype: int64

Lets clean the data using the df.drop(index=50,inplace=True)
this will will drop the last 51 row as 50+1 as the last row index and inplace means to modify the orignal data file too
- we will run this without inplace=True as this will remove the sample data and then storing it removed juck data to other variable and checking the missing value for it

In [ ]:
cleaned_df = df.drop(index=50)
print(cleaned_df.isna().sum())

# following code will remove the junk 51 row from the data
# df.drop(index=50,inplace=True)

we can also remove the empty values row without specifing the index by dropna as

In [19]:
cleaned_df2 = df.dropna()
print(cleaned_df2.isna().sum())

Undergraduate Major                  0
Starting Median Salary               0
Mid-Career Median Salary             0
Mid-Career 10th Percentile Salary    0
Mid-Career 90th Percentile Salary    0
Group                                0
dtype: int64